.title{
    display:block;
    margin-bottom: 3.44vw;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

.EG figure {
	width: 23.7vw;
	height: 12.6vw;
	margin: 0;
	overflow: hidden;
	border: 0.1vw solid white;
	opacity: 0.7;
}

.TheCave figure{
	width: 23.7vw;
	height: 13vw;
	margin: 0;
	overflow: hidden;
	opacity: 0.7;
}

.figureScale1{
	width: 23.7vw;
	height: 13vw;
}

.figureScale2{
	width: 23.56vw;
	height: 12.6vw;
}

.imgs{
	position: fixed;
	top: 33vw;
}

.text{
	position: fixed;
	left: 27vw;
	top: 5vw;
}

.green{
    color: rgb(0, 203, 44);
}

.blue{
    color: rgb(0, 200, 255);
}

body{
    background-color: black;
}

.head{
	position: fixed;
	top: 0;
	margin-left: -0.52vw;
    width: 100vw;
    height: 11vw;
	background-color: rgba(0, 255, 255, 0.04);
}

.about{
	position: fixed;
    display:block;
    font-size: 1.72vw;
    margin-left: 48vw;
    top: 36.46vw;
	color: white;
}

.Download{
    display:block;
	color: green;
    font-size: 2.60vw;
    margin-left: 44.27vw;
    margin-top: 1.82vw;
}

.back{
    display:block;
    margin-top: 2.60vw;
    margin-left: 5.21vw;
    font-size: 2.08vw;
}

.aboutMe{
    text-align: center;
    color: white;
    display:block;
    font-size: 1.72vw;
    margin-top: 5.21vw;
    font-family: Arial;
}

.thnx{
    text-align: center;
    display:block;
    font-size: 2.29vw;
    color: rgb(7, 233, 64);
    margin-top: 4.58vw;
}

.icon{
    margin-top: 5.21vw;
    margin-left: 43.3vw;
    margin-right: 4.58vw;
    border-radius: 20%;
}

#iconwidth{
	width: 4vw;
}

.TheCave {
	position: fixed;
	cursor: pointer;
	top: 19.06vw;
    margin-left: 57.29vw;
	padding: 0;
}

.TheCave::after {
	content: '';
	clear: both;
	display: block;
}

#TheCaveBorder{
    border: 0.1vw solid white;
}

.TheCave div {
	position: absolute;
	float: left;
	width: 23.7vw;
	height: 4.38vw;
	margin: 0 0 0 1.3vw;
	padding: 0;
}

.TheCave div span {
	position: absolute;
	bottom: -10.42vw;
	left: 0;
	z-index: -1;
	display: block;
	width: 23.7vw;
	padding: 0;
	color: white;
	font-size: 1.3vw;
	text-decoration: none;
	text-align: left;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
    margin: 0;
}

.EG {
	position: fixed;
	cursor: pointer;
	top: 19.06vw;
    margin-left: 16.72vw;
	padding: 0;
}

.EG::after {
	content: '';
	clear: both;
	display: block;
}

.EG div {
	position: absolute;
	float: left;
	width: 28.39vw;
	height: 7.81vw;
	margin: 0 0 0 1.3vw;
	padding: 0;
}

.EG div span {
	position: absolute;
	bottom: -10.42vw;
	left: 0;
	z-index: -1;
	display: block;
	width: 28.39vw;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 1.3vw;
	text-decoration: none;
	text-align: left;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure:hover+span {
	bottom: -18.44vw;
	opacity: 1;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
  }
